<html>
<head>
    <title>Poems</title>
</head>

<h1>Poems</h1>
<table>
    <thead>
        <th>Author</th>
        <th>Title</th>
    </thead>
    <tbody>
        {% for p in poems %}
        <tr>
            <td>{{p.author.full_name}}</td>
            <td><a href="/poems/{{p.id}}">{{p.name}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
    <a href="https://en.wikipedia.org/wiki/Alexander_Pushkin">Alexander Pushkin</a>
    <img src="https://en.wikipedia.org/wiki/File:Kiprensky_Pushkin.jpg" alt="Pushkin">
</table>

</html>

